.section-cover__title {
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  width: 560px;
  text-align: center;
  margin: 0 auto 32px;
}

@media screen and (max-width: 650px) {
  .section-cover__title {
    font-size: 32px;
    line-height: 35px;
    margin-bottom: 16px;
    width: 248px;
  }
}