.place__title {
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  margin: 0;
}

@media screen and (max-width: 770px) {
  .place__title {
    font-size: 42px;
    line-height: 46px;
    max-width: 330px;
    padding-bottom: 20px;
  }
}

@media screen and (max-width: 650px) {
  .place__title {
    font-size: 32px;
    line-height: 35px;
    max-width: 288px;
    margin-bottom: 32px;
    padding-left: 16px;
  }
}