.header {
  width: calc(100% - 96px);
  max-width: 1184px;  
  height: 52px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: auto;
  /* margin: 28px 48px 0; */
}

@media screen and (max-width: 770px) {
  .header {
    /* margin: 28px 24px 0; */
  }
}

@media screen and (max-width: 650px) {
  .header {
    /* margin: 16px 16px 0; */
  }
}