.place__text {
  font-size: 18px;
  line-height: 29px;
  margin-bottom: 24px;
  margin-top: 0;
  display: block;
}

.place__text:last-of-type {
  margin-bottom: 0px;
}

@media screen and (max-width: 770px) {
  .place__text {
    font-size: 16px;
    line-height: 26px;
  }
}

@media screen and (max-width: 650px) {
  .place__text {
    margin-bottom: 24px;
  }

  .place__text:first-of-type {
    margin-top: 32px;
  }

  .place__text:last-of-type {
    margin-bottom: 0px;
  }
}



