.intro {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  max-width: 690px;
  /* max-width: 984px; */
  /* margin-top: 92px;
  margin-bottom: 92px; */
  margin: 92px 0;
  /* padding-right: 294px; */
}

@media screen and (max-width: 770px) {
  .intro {
    max-width: 770px;
    padding-left: 24px;
    padding-right: 24px;
  }
}
@media screen and (max-width: 650px) {
  .intro {
    padding-left: 16px;
    padding-right: 16px;
  }
}



