.lead__subtitle {
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  max-width: 640px;
  margin: 0 auto 64px;
  /* color: green; */
}



@media screen and (max-width: 770px) {
  .lead__subtitle {
    font-size: 30px;
    line-height: 36px;
    margin-bottom: 56px;
  }
}

@media screen and (max-width: 650px) {
  .lead__subtitle {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 56px;
  }
}