.cover {
  /* border: deeppink dashed 1px;  */
  max-width: 1184px;
  width: 100%;
  height: calc(100vw - 37.5vw);
  max-height: 740px;
  object-fit: contain;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 92px;
  text-decoration: none;
  color: #fff;
}

@media screen and (max-width: 770px) {
  .cover {
    margin-top: 88px;

  }
}
@media screen and (max-width: 650px) {
  .cover {
    margin-top: 64px;
  }
}

.cover:hover .cover__overlay {
  opacity: .3;
}

