.place {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  max-width: 984px;
  margin-bottom: 80px;
}

.place:last-of-type {
    margin-bottom: 0;
  }


@media screen and (max-width: 770px) {
  .place {
    margin-bottom: 72px;
  }
  .place:last-of-type {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 650px) {
  .place {
    margin-bottom: 48px;
    grid-template-columns: 100%;
  }

  .place:last-of-type {
    margin-bottom: 0;
  }
}